<div style="text-align: center">
  <%= image_tag("sh_logo.jpg", alt: "Seven Hills", :class => "img-rounded", :style => "width:30%") %>
</div>

<div class="container">

	<h2 class="featurette-heading">Seven Hills Skydivers</h2>

	<p class="lead">
	   Seven Hills Skydivers of Madison, WI is a <strong>not for profit, all volunteer, member owned and operated club</strong>. In business to promote skydiving and introduce people to the sport by training skydive students and performing skydive demonstration jumps, we have been in existence since 1962, <strong>for over 51 years. Safety is our main priority</strong> and our record is second to none!
  </p>

  <p class="lead">
    The home of World Record holders, National Champions, and the 7 Hills Rhythm and Booms Skydive Demo Team, the club is located about 15 minutes past East Towne Mall just outside Madison, Wisconsin. 
  </p>

  <p class="lead">
    For the 19th year in a row, Seven Hills Skydivers of Madison, Wisconsin has donated jumps to the WPT TV Auction. Make a bid to possibility get an inexpensive skydive! We've also made donations to other causes such as the MATC Foundation, UW Police K9 unit, Badger Honor Flight, Multiple Sclerosis Society, Big Brothers Big Sisters, Henry Vilas Zoo, Dean Foundation, Madison Fire Dept and the Red Cross.
  </p>

  <p class="lead">
  	Seven Hills uses <strong>modern, state of the art skydiving equipment:</strong>
  	<ul class="lead">
  		<li>Ram Air (square) parachutes that actually inflate and glide through the air for slow descents and soft landings</li>
  		<li>Automatic Activation Devices (AADs) that will automatically open your reserve parachute if necessary</li>
  		<li>The user of helmet, googles, jumpsuit, altimeter, and radio enable us to help you fly your parachute and make a safe, soft landing</li>
  		<li>Two Cessna 182 aircraft, both flown by commercially licensed pilots</li>
  </p>
</div>