<div style="text-align: center">
  <%= image_tag("jack_student_smile.jpg", alt: "Student Jump", :class => "img-rounded", :style => "width:75%") %>
</div>
<br/>
<div class="container">
  <h2 class="featurette-heading">Become a full fledged skydiver!</h2>
  <p class="lead">
  	Making your first skydive is a life-changing experience. Chances are, if you're here, then you're asking yourself "But what now?!" Well, Seven Hills has you covered! We offer a comprehensive, affordable student program to get you all the way to  your A-License. An A-License will grant you the freedom to jump anywhere in the world! 
  </p>
  <h3 class="text-muted">The IAD Student Program</h3>
  <p>
  	We follow the IAD student progression for training students at Seven Hills. This is an "ease you into it" type of progression, meaning you start at lower altitudes while you practice deploying your parachute. Once you demonstrate that you can deploy your own parachute safely, then we work our way up to 10,000 feet where you will learn freefall maneuvers like turns, flips, barrel-rolls, and formation skydiving. 
  </p>
  <h3 class="text-muted">The Jumps</h3>
  <ul>
  	<li>Two IAD deployments where you focus on good body position and control (your first IAD jump counts for one of these!)</li>
  	<li><strong>At least</strong> three practice pilot chute pulls (PPCPs). PPCPs build your muscle memory for deploying a parachute safely</li>
  	<li>Clear and pull - deploy your parachute yourself without any instructor help!</li>
  	<li>2 10 second freefalls - experience your first extended freefall as you work on maintaining a heading in freefall and demonstrate a safe deployment</li>
  	<li>2 15 second freefalls - from here on out you will jump with a coach next to you in freefall while you work on turns and other freefall maneuvers</li>
  	<li>2 30 second freefalls</li>
  	<li>All the way up! You will conduct the rest of your jumps from 10,000 feet - a 45 second freefall! You will work on freefall maneuvers until you demonstrate that you can move around safely in freefall.</li>
  	<li>Check Dive! After you complete at least 25 skydives demonstrating many different freefall and parachute maneuvers an instructor will take you up on your final dive as a student. Perform a timed sequence of flips, barrel rolls, docking, and tracking and earn your A-License!</li>
  </ul>
  <h3 class="text-muted">The Seven Hills Difference</h3>
  <p>
  	We at Seven Hills take an active interest in each and every one of our students' safety and learning. You will quickly become a part of our Seven Hills family as you enter what may be the greatest sport in the world.
  </p>

  <hr>

  <h3 class="text-muted">Pricing</h3>
  <ul>
  	<li>First IAD Skydive and ground training: <strong>$130</strong></li>
  	<li>Second IAD skydive and each subsequent dive through your 15 second freefalls: <strong>$55</strong></li>
  	<li>Each subsequent jump with a coach from 30 seconds until you get your A-License: <strong>$65</strong></li>
  </ul>
  <strong>Bought individually, the student program will cost about $1,600</strong>
  <h3 class="text-muted">Packages</h3>
  <ol>
  	<li>Get Your A-License: <strong>$1425</strong></li>
  	  <ul>
  	  	<li>The First Jump Course and Jump</li>
  	  	<li>2nd Jump ticket</li>
  	  	<li>3 Practice Pilot Chute Pull tickets (PPCPs)</li>
  	  	<li>1 Clear and Pull ticket</li>
  	  	<li>2 Ten second delay tickets</li>
  	  	<li>2 Fifteen second delay tickets</li>
  	  	<li>2 Thirty second delay tickets</li>
  	  	<li>13 Forty-five second delay tickets</li>
  	  	<li><strong>Repeat tickets </strong>(if needed) must be purchased separately</li>
  	  	<li>Does <strong>NOT</strong> include licensing fees or USPA membership (required)</li>
  	  </ul>
  	<li>Get Your A-License package <em>after</em> taking the first jump course: <strong>$1375</strong></li>
  	  <ul>
  	  	<li>Includes all of the above except for the First Jump Course</li>
  	  </ul>
  	<li>Get to Freefall Package: <strong>$200</strong></li>
  	  <ul>
  	  	<li>3 Practice Pilot Chute Pulls (PPCPs)</li>
  	  	<li>1 Clear and Pull</li>
  	  	<li><strong>Repeat tickets </strong>(if needed) must be purchased separately</li>
  	  	<li>Does <strong>NOT</strong> include licensing fees or USPA membership (required)</li>
  	  </ul>
  	<li>Freefall Package: <strong>$300</strong></li>
  	  <ul>
  	  	<li>5 Fifteen second and higher jump tickets</li>
  	  	<li><strong>Repeat tickets </strong>(if needed) must be purchased separately</li>
  	  </ul>
  </ol>
</div>