<%
meta :title => "Contact Us",
     :description => "To speak to a scheduler, call (608) 244-5252. To call the clubhouse directly, call (608) 244-5252.",
     :keywords => "Conact, contact us, get in touch, phone, email, schedule, questions"
%>

<div class="container lead">
	<h2 class="featurette-heading">Contact Us</h2>

	<h3 class="text-muted">Scheduling</h3>
	<p>
		To schedule a skydive, call (608) 244-5252
	</p>
	<h3 class="text-muted">Clubhouse</h3>
	<p>
		<ul class="list-unstyled">
			<li>7530 State Highway 73</li>
			<li>York Center, WI 53559</li>
		</ul>
  </p>
	<p>
		To call the clubhouse directly, call (920) 623-2838
	</p>
	<h3 class="text-muted">Hours of Operation:</h3>
	<p>
		Summer: 
		<ul>
			<li>Fridays 4pm to sunset</li>
			<li>Saturday and Sunday 10am to sunset</li>
		</ul>
	</p>
	<p >
		Winter: 
		<ul>
			<li>Saturday and Sunday 10am to sunset, weather permitting</li>
		</ul>
	</p>
	<h3 class="text-muted">Mailing Address</h3>
	<ul class="list-unstyled">
		<li>P.O. Box 8261</li>
		<li>Madison, WI 53708</li>
	</ul>
</div>