<div class="container lead" style="font-size:16px">
	<h2 class="featurette-heading">Frequently Asked Questions</h2>

	<br/>

  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			Which is better, TANDEM OR IAD?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		<p>
  			We offer two training methods, one is not necessarily better than the other. Which method you decide on depends more on your motivation, and what you’re interested in getting out of your skydiving experience. The Tandem method is popular today, but if you’re interested in 'doing by yourself' or pursuing your skydiving license you will need to take our Instructor Assisted Deployment (IAD) first jump course.  The decision is like, do you want to take a ride in a car or drive it.  Read through the Tandem and IAD pages for a detailed description of the two training options.
  		</p>
  		<p>
				<strong>Tandem:</strong> Half hour instruction, 30 second free fall, you jump with an instructor, relatively high performance 5-6 minute canopy ride.  Higher dollar cost.
			</p>
			<p>
				<strong>IAD:</strong> 5 to 6 hour instruction, 3-5 sec free fall on your first few jumps, solo, 3-5 minute canopy ride that you land by yourself (with radio help), train toward becoming a licensed skydiver and 'do it by yourself'.  Costs much less (by almost half) than a tandem first jump.
			</p>
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			What if the parachute doesn't open?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		<p>
  		Every skydiving rig is equipped with both a main and a reserve parachute (and backup devices). Every rig! 
			</p>
			<p>
				As a tandem skydiver, you are with a trained professional who knows how to handle a malfunction and deploy the reserve canopy if it's necessary. We take your safety very seriously and have never had a student fatality. 
			</p>
			<p>
				As a Solo student, you are taught how to recognize what a malfunction looks like as well as how to deal with the malfunction in a timely manner. If the malfunction is the type that cannot be dealt with, you are taught how to cut-away your main parachute and deploy your reserve parachute, which is extremely unlikely to have a malfunction.
			</p>
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			What do I need to bring or wear for my first jump?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		You must bring an ID that has your photo and your birthdate on it, like a driver's license.  Wear tennis shoes, not sandals and not boots.  Make sure your clothing is comfortable, and when in doubt, bring extra.  If you are making a jump in the cold weather, it is best to wear multiple layers of thinner clothing, instead of one layer of bulky clothing.  Our training room and airplane are heated, but your jump will obviously be outside.  We provide jumpsuits and gloves, although you may want to bring your own gloves for comfort.  Any other time of year, just dress for what you are comfortable wearing outside for that particular temperature.
  	</div>
  </div>

  <hr>

  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			How many of us can go up in the plane at the same time?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		Your jump will be from a Cessna 182 which holds a pilot plus four skydivers.  That means, if you want to go on a tandem with your friend, you can have one tandem master, yourself, the other tandem master, and your friend in the plane at the same time.   You will have the airplane ride together, but you will not be able to see each other in freefall.  The tandem pair who exit first will also be able to see the second pair's landing.  If you want photography on your jump, you will have one tandem master, yourself, a videographer.  That leaves only one slot so there is no room for another tandem pair.  With IAD, the plane can hold 3 jumpers and the instructor.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			How much time does a jump take?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		<p>
  			The amount of time required for your training and first jump depends on the training method you have selected.If we are not waiting on weather, plan on spending about 3 to 5 hours at the drop zone.  For example, if you choose to make your jump at 12 noon, you show up right at noon, and plan on being there until about 4 p.m.  Here's how it all happens.  Your training lasts about 30 minutes for a tandem.   The plane ride takes about 25 minutes.  Your jump itself takes under 10 minutes.  The extra time we allow is for getting you ready and waiting for your plane load.  If you have a bigger group, you may want to plan for a longer time span, especially if any in your group want freefall photography for their jump.
			</p>
			<p>
				If you are doing the Instructor Assisted Deployment (solo) method, we suggest that you plan to spend the day at the drop zone. We believe you will find that clearing your schedule of other obligations will allow you to focus on your first jump with-out unneeded worries or distractions. If you will be unable to be at the drop zone all day, please let your instructor know your time constraints as early as possible.
			</p>
  	</div>
  </div>

  <hr>

  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  		Who makes the rules that you follow?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		We follow all the regulations set by the Federal Aviation Administration in regards to skydiving, our equipment, and maintaining our aircraft, such as 100 hour inspections and annuals.  We only hire pilots who possess a Commercial rating.  We are also group members of the United States Parachute Association, who are recognized by the FAA as the authority on skydiving.  That means we follow the strictest guidelines in the industry.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			Do you take credit cards?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		We take MasterCard, Visa and Discover. We also welcome cashier's checks, money orders, in-state checks or cash.   If using a credit card to put down a deposit, we need the name as it appears on the card, the card number, the expiration date, the name of the person(s) making the jump, and a phone number.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			Are reservations and deposits required?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		Yes, a $100 NON REFUNDABLE deposit is required to schedule a skydive. This deposit is not refundable unless you cancel 10 days prior to your jump.  It can be rescheduled.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			Who do I call to sign up?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		To sign up for a class or to schedule a tandem jump, call us at (608) 244-5252. You will talk to a real person most of the time. We are generally available to take your call seven days a week and all daylong. At times, you will get voice mail if we are unavailable, please leave a message and we will do our best to return your call in a timely manner.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			Do you have GIFT CERTIFICATES available?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		Yes, we offer gift certificates!  Please call 608-244-5252.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			Do you offer group rates?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		Yes!  Please check prices on the website.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			Do you have any weight limits?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		IAD weight limit is 220 pounds.  Tandem limits are usually 220 pounds, but special requirments are necessary if you weigh more than 200 pounds, so please call us.  The safety of you and our staff is our number one concern.  We weigh EVERYONE.  We WILL weigh you.   A good resource for this question or for other further research would be United States Parachute Association, at www.uspa.org.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			What if I'm sixteen?  Can I have my parents sign for me?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		Again, sorry, but everyone who skydives signs a waiver, which is a legally binding contract, specifically a release of liability and assumption of risk agreement.   Minors are not allowed to enter into legal contracts regardless of who signs on their behalf.  Call us on your 18th birthday!  Everyone who skydives with us is required to bring identification with a photo and birthdate.  We WILL card you.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			What happens if the weather is bad the day I am scheduled to jump?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		First of all, do NOT believe all the forecasts you hear the day before, a couple days before, or a WEEK before your scheduled jump.  Weather forecasters have been known to be wrong a few times. (Note the sarcasm on the word 'few'.)  We wait until the day of your jump to make a weather call.   If you wake up the day of your jump and think the weather may not be right, give us a call (920-623-2838) before you drive out.  Weather differs greatly even within a distance of 30 miles, so although it may be bad weather where you are, we may have perfect weather.  Do not expect to jump if it's raining, snowing, extremely windy or if there are very low clouds.  We can discuss delaying your jump for later that day, or rescheduling for a different date.  If we reschedule, you will not lose your deposit.  It will be transferred to the next available date of your choice.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			I'm afraid I'll get airsick...should I eat before my jump?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		Yes!  Not eating can make you feel even more airsick.  Instead, just eat a smaller meal before you jump.  If you have air sickness pills, please take them well before your jump.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			Can I drink alcohol before the jump?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		NO!  Absolutely not!  Drinking and skydiving do not mix.  In fact, you must not have had alcohol within 12 hours of your skydive.  You must not have taken any recreational drugs within 12 hours of your skydive.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			Is skydiving safe?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		Skydiving is like any other extreme sport: there are inherent risks that require careful training and execution. Failure to follow that training can lead to serious injury. Skydiving is as safe as the individual(s) make it. The equipment has improved considerably over the old-style round parachute and is so reliable that, when used properly, skydiving can be as safe or safer than any other extreme sport.  Statistically, skydiving is much safer than riding on a motorcycle.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			What will the skydive feel like?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		The sensation of freefall is more like flying than falling, and is intensely exciting and liberating. The canopy flight is peaceful and relaxing.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			How fast do you fall?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		The average human body falls approximately 120 miles per hour.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			What's the landing like?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		Most landings are quite soft, with many people doing stand-up landings. Sometimes, especially on calm days, the forward speed of the parachute will provide you with a smooth sit-down sliding landing.
  	</div>
  </div>

 <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			Can I bring my own camera with me on the jump?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		No, you are much too busy with your skydive to look after your cameras. It very easily may get lost or broken and we cannot risk dropping it in freefall or under parachute.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			Can I bring my friends and family to watch?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		Definitely YES!  We have a nice spectator and picnic area for them to sit and watch.
  	</div>
  </div>

  <hr>
  
  <div class="row">
  	<div class="col-sm-3">
  		<strong>
  			Does it hurt when the parachute opens?
  		</strong>
  	</div>

  	<div class="col-sm-9">
  		No, it doesn't hurt. The harness is tightened so that there's no real shock from it pulling when the parachute opens.
  	</div>
  </div>
  
 </div>