<div style="text-align: center">
  <%= image_tag("murray_iad.jpg", alt: "IAD Jump", :class => "img-rounded", :style => "width:75%") %>
</div>
<br/>
<div class="container">
	<h2 class="featurette-heading">Go SOLO!</h2>
	<p class="lead">
    An Instructor Aided Deployment (IAD) skydive is the most complete skydiving experience. After a morning of instruction about the equipment, safety procedures, and parachute control you will make a SOLO skydive and land your own parachute! Fear not, an instructor will guide you safely to the ground via radio. 
	</p>
	<h3 class="text-muted">The Experience</h3>
	<p>
    IAD skydives require more than the 30 minute introduction given to Tandem students. The ground training is 5-6 hours long and will cover everything you need to know to make a safe and enjoyable skydive. After completing your ground training you will climb to 3,500 feet in one of our airplanes. There, an instructor will climb out onto the strut of the airplane while you hang outside of the airplane! You will experience 3-5 seconds of freefall before your parachute opens. Once your parachute opens you can enjoy a 3-5 minute canopy ride to the the ground that you will fly and land yourself! An IAD jump qualifies as your first jump towards being a licensed skydiver. If you think you might be interested in making more than one skydive, then the IAD course is definitely the right choice for you! See our <a href="/student">Student Program</a> page for more information about continuing your skydiving career!
	</p>
	<h3 class="text-muted">Requirements</h3>
	<p>
		<ul>
			<li>No prior experience necessary.</li>
			<li>You must be 18 or over, want to have fun, be in good health, and weight no more than 220 pounds.</li>
			<li>Refrain from alcohol for at least 12 hours before the course.</li>
			<li><strong>You must bring a valid government issued ID (Drivers license, state ID, passport). NO EXCEPTIONS!</strong></li>
			<li>A $100 deposit is required to reserve your spot in a class.</li>
			<li>Finally, please bring your patience as we cannot control the weather. Leave your entire day free to make your skydive.</li>
		</ul>
	</p>
</div>