<div class="container lead">
	<h2 class="featurette-heading">Pricing Information</h2>

	<h3 class="text-muted">Instructor-Assisted Deployment (IAD)</h3>
		<ul class="list-unstyled">
			<li>Training and first jump: <strong>$135</strong> (per person)</li>
			<li>Digital Video of the jump: <strong>$30</strong></li>
			<li>Training and jump if you have already completed a Tandem skydive with us: <strong>$99</strong></li>
		</ul>

  <hr>

	<h3 class="text-muted">Tandem</h3>
		<ul class="list-unstyled">
			<li>Training and first jump: <strong>$210</strong> (per person)</li>
			<h4><small>An additional fee may apply for guests over 200 lbs</small></h4>
			<li>Digital Video of the entire experience: <strong>$90</strong></li>
		</ul>

	<hr>

	<h3 class="text-muted">Requirements</h3>
		<p>
			You must be 18 or over, want to have fun, be in good health, and weigh no more than 220 pounds in order to jump with us. No prior experience is necessary. Please refrain from alcohol for at least 12 hours before the course. Wear comfortable clothing and sneakers and bring a picture ID.  A non-refundable $100 deposit is required to reserve your spot in a class or an appointment.  Also, please bring your PATIENCE as we can not control the weather and other factors. 
		</p>

	<hr>

	<h3 class="text-muted">Experienced Skydivers</h3>
		<ul class="list-unstyled">
			<li>10,000 feet: <strong>$22</strong> (per person)</li>
			<li>5,000 feet: <strong>$11</strong></li>
			<li>Gear Rental <strong>$16</strong> (per jump)</li>
		</ul>

	<hr>

	<h3 class="text-muted">Fine Print</h3>
		<ul style="font-size:16px">
			<li>All prices are total cash cost per person and include everything you'll need - professional instruction, all modern equipment, the plane ride, and a First Jump Certificate. (No tax is ever charged)</li>
			<li>Prices subject to change without notice. </li>
			<li>Cancellations are subject to a cancellation fee.</li>
			<li>Gift certificates available.  A most unique present!</li>
			<li>We do NOT accept Gift Certificates from 1-800-SKYRIDE.</li>
			<li>MasterCard, Visa, Discover, cash or in-state check accepted.</li>
			<li>Spectators Welcome!</li>
			<li>All children must be supervised.  No pets please.</li>
		</ul>
</div>