<div class="container lead", style="font-size:16px">
  <h2 class="featurette-heading">Testimonials</h2>
  <div class="well">
    <p>	
  		To everyone at Seven Hills-
  	</p>
  	<p>
  		Thank you for a FANTASTIC experience with my family. It has now been over two weeks since going skydiving with my parents and boyfriend to celebrate their 25th, and we are still talking about it!! We all were so impressed with how professional yet relatable every single one of you are. And special thanks to our instructors, Jay and Brent, and our video guys, Russ and Dean. You are all the best of the best!
  	</p>
  	<blockquote>
  		<p>
  			Thank you for one of the scariest moments of my life, and also one of the most rewarding. 
  		</p>
  	</blockquote>
  	<p>
  		Maybe we'll be back for my parents 50th anniversary?? If we do, don't worry Jay- I won't cry this time. :) 
  	</p>
  	<p>
  		Best wishes to you all,
  	</p>
  	<p>
  		Alysia (& Dave, Kati, and John)
    </p>
  </div>

  <hr>
  
  <div class="well">
    <p>
    	I have an “official” thank you card coming in the mail with a copy of a few of the digital photos we took yesterday, but I just couldn’t wait to say “thank you so much for such a wonderful birthday!”  I know you had to jump through a lot of hoops to make this happen yesterday, but it was so greatly appreciated by both me and Suzi.  A huge thanks to Jay and Scott too for fitting it into their schedules!
    </p>
    <p>
    	I also want to say that it meant a lot that you shared our jumps with us.  I don’t know if you do that for everyone, but we really enjoyed having you along for the ride!  Thanks again Rich!!  Take care, and hopefully you’ll see us again real soon!  We had a blast!!
    </p>
    <p>
    	Scott, the videos of our jumps on July 27th were awesome.  I had lunch with Suzi today for her birthday, and she gave me the copies.  Thanks for making an “extra” one of each so we both could have a copy of each of them.  I just watched them on the computer and laughed and laughed!  It was great reliving the day.  Thanks again guys for everything!!  Hope to see you sometime in the future!
    </p>
    <p>
  		Lisa
    </p>
  </div>

  <hr>

  <div class="well">
    <p>
    	Hey Seven Hills! Just wanted to thank you for the awesome experience I had today. I did my first ever jump and did it as a tandem with Spaz (not sure if that is his real name but that is was I heard him called). He was very friendly and confident and was a lot of fun to jump with. 
    </p>
    <blockquote>
  	  <p>
  	  	Everyone at Seven Hills made us feel very welcome and at the same time stayed professional and safety conscious, I would definitely do it again. 
  	  </p>
  	</blockquote>
  	<p>
  	  What an amazing experience!  Thanks again,
  	</p>
    <p>
  		Dylan
    </p>
  </div>

  <hr>

  <div class="well">
    <p>
    	Saturday morning  July 19th I woke up knowing that today I would make one of my dreams come true!  
    </p>
    <p>
    	I have always wanted to Sky dive and today was going to be that day. I was so excited and nervous all at the same time. I got to the Sky diving school and took the required 6 hour class. I never knew I needed to know so much just to jump from a plane. I mean how hard could it be right? Heck put on the parachute and jump right? Boy was I wrong! Hahaha.
    </p>
    <p> 
    	I learned among other things how to be able to steer my way down to the ground and how to be able to turn left and right. They had a simulator so we could feel what it would be like during the actual jump- a piece of cake I thought! This is gonna be easy and it was- while I was on the ground that is! Now the moment had come to board the plane and see if I really learned anything that day. I boarded the plane with 2 other students and the jumpmaster I was ready I had all my jump gear on. My jumpsuit, helmet, parachute and radio all good to go. I said good bye to my 2 friends who came to watch me jump and I was off. Boarded my plane - we lifted off 'O MY GOD!' I was thinking I am really doing this. As we flew higher and higher I thought this isn't so bad.  
    </p>
    <p>
    	Then we got to the altitude and my 2 classmates jumped first. Looked easy enough. Then it was my turn- I cant tell you all the emotions I had and I was getting pretty nervous too. The jumpmaster opened the door and told me it was my turn. I had so many butterflies in my stomach! I stepped out on the little platform thingy and I remember it was so windy, I was thinking will I remember what I had learned in class and will my parachute remember to open, can I do this? So many things going through my mind all at once. It was time to let go, I did and then I was in the air falling , I needed to open my chute ohh there we go much better I am now floating through the air. It was so awesome all the fear and butterflies are gone and it just me and the sky.  
    </p>
    <blockquote>
    	<p>
    		Peaceful and breath taking views from all around - tranquil and magical! 
    	</p>
    </blockquote>
    <p>
    	Here I was living my dream! When I thought I heard someone talking to me, how could that be? No one was up here with me. Oh my, the radio they are talking to me! What did they say? how long have they been talking to me?  I hear right, right turn right! Oh I guess I need to pay attention so I can get down from here in one piece. which hand is my right one I cant remember. Oh yeah here I go. I remembered everything from class and was able to land. The perfect landing (at least I thought so). That was so cool I am going to have to do this again! 
    </p>
    <p>
  	Thanks to all who supported me! A special Thanks to Frank my friend and co-worker who inspired me. Another dream come true!  
    </p>
    <p>
    	Marco
    </p>
  </div>

  <hr>

  <div class="well">
    <p>
    	 Thanks for your help.  My brother and I actually made our first jump and signed up for another.  It was amazing!  I just got the photos, and they are classic.  Thanks again.
    </p>
    <p>
    	Aaron
    </p>
  </div>

  <hr>

  <div class="well">
    <p>
    	I wanted to say thank you for the wonderful experience I had this past Saturday.  I'm so glad Sara talked me into going as this will be something I will remember forever.  I think I maybe hooked now, may try a solo dive the next time around! I also want to thank you for giving me a discount on the video since we missed the jump out, you didn't have to do that but I do appreciate it.
    </p>
    <p>
  		Thanks again for everything, I had the best time! 
  	</p>
  	<p>
  		Shannon
    </p>
  </div>

</div>