- meta :title => "Book a Skydive", :description => "Book a Skydive", :keywords => "reservation, account, group, skydive, date, book a skydive, reserve a time, appointment, search, join"


.container
  %h4.center If you know the date you want to skydive, click below! No registration necessary.
  %p.center
    = link_to "Create a Skydiving Group / Make a Reservation", new_reservation_path, class: "btn btn-success"
  
  %hr

  %h4.center If you have a skydiving group number from a friend, Join an Existing Group.
  %p.center
    = link_to "Join an Existing Group", search_reservations_path, class: "btn btn-primary"

  %hr

  %h4.center Don't know when you want to skydive? Browse the openings here!
  %p.center
    = link_to "View Available Dates and Times", openings_path, class: "btn btn-info"

  %hr

  %p.center
    If you are having trouble with our online scheduling system, please don't hesitate to call us at 608-244-5252 to schedule a skydive
  - if logged_in? && (@user.member? == false)
    %hr

    %h4.center Are you a Seven Hills Member?
    %p.center 
      = link_to "Click here to set yourself as a member!", set_member_path, class: "btn btn-success"
