.container
  .h4 Reservations Home

  %p
    = link_to "View Available Dates and Times", "#", class: "btn btn-primary"
    = link_to "Create a Group", new_reservation_path, class: "btn btn-primary"
    = link_to "Join a Group", "#", class: "btn btn-primary"
