.container
  .row
    .col-sm-4.col-sm-offset-1
      = bootstrap_form_for @reservation do |f|
        %h3 Create a Reservation
        %fieldset
          = f.select(:instruction, Reservation::INSTRUCTION_TYPES)
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Continue" class="btn btn-primary")