.container
  .row
    .col-sm-10.col-sm-offset-1
      %h3 Your Reservation
      %table
        %thead
          %tr
            %th Name
            %th Email
            %th Active?
            %th Reference ID
        %tbody
          - @reservation.students.each do |student|
            %tr
              %td= student.first_name
              %td= student.email
              %td
              %td