!!! 5
%html(lang="en-US")
  %body
    %h3 Are you ready to Skydive?!
    %p We're very glad you've chosen Seven Hills Skydivers for your skydiving adventures. You've been registered for a skydive on:
    %h3 #{display_day(@student.opening.date)} at #{display_time(@student.opening.time)}. 
    %p Your group ID is #{@student.reservations.last.id}. 
    %p A member of our staff will call you at #{@student.phone} to confirm your skydive and take a deposit within 3 business days. If you would like video of your skydive, please tell the scheduler when they call.
    %h3 DO NOT FORGET:
    %ul
      %li You MUST bring a valid, government issued ID for the day of your skydive. All students must be at least 18 years of age. NO EXCEPTIONS
      %li Refrain from alcohol for at least 12 hours before the course. No alcohol is allowed on the grounds of Seven Hills Skydivers during jumping hours.
      %li Please bring your patience as we cannot control the weather. Leave your entire day free to make your skydive. If you have any doubts, call the clubhouse at (920) 623-2838.
      %li You must weigh less than 220 pounds. If you weigh more than 220 pounds we may be able to accomodate you, but you MUST tell the scheduler.
    %p If you have any questions or if any of this information is incorrect, please call us at 608-244-5252. We're very excited for you to skydive with us!
    %p Blue Skies, the Seven Hills Skydivers