body {
  padding-top: 80px;
}

@media (max-width: 768px) {
	body {
		padding-top: 80px;
	}
}

.navbar .btn {
	margin-top:8px;
	margin-right:10px;
}

.center {
	text-align: center;
}

.green {
	color: #5cb85c;
}

.inline {
	display: inline;
}