<hr class="featurette-divider">

<div class="container">
	<h6 style="text-align:center">
		<small>
			© 2013  Copyright all pages by Seven Hills Skydivers of Madison, WI.  PO Box 8261  Madison, Wisconsin  53708
			All rights reserved.  Unauthorized duplication or publication of any materials from this Site is expressly prohibited.
		</small>
	</h6>
</div>